{{ 'giantsports.css' | asset_url | stylesheet_tag }}
{% liquid
    assign heading_tag = section.settings.heading_level | default: 'h2'
    assign heading = section.settings.heading
    assign heading_color = section.settings.heading_color
    assign background_color = section.settings.background_color
%}  

<style>
    .{{section.id}} {
        background-color: {{background_color}};
        
    }
    .{{section.id}} .main_container{
        padding: 40px !important;
    }
    .{{section.id}} .main_container__heading h1, h2, h3, h4, h5, h6 {
        color: {{heading_color}};
        line-height:1;
        font-family: var(--gothic-font) ! important;
        letter-spacing: 2px ;
        font-weight: bold;
        font-style:normal;
        text-transform: uppercase;
    } 
    .{{section.id}} .main_container__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        box-sizing: border-box;
        justify-content: center;  
    }

    .{{section.id}} .main_container_grid__items{
        transition: transform 0.5s ease; 
        /* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
        position: relative;
    }
    
    .{{section.id}} .main_container_grid__items:hover {
        transform: scale(1.05);
    }
    
    .{{section.id}} .main_container_grid__items::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 20px; 
        z-index: 1; 
        transition: background-color 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);; 
    }
    .{{section.id}} .main_container_grid__items:hover::after {
        background-color: rgba(0, 0, 0, 0.3); 
        z-index: 2;
    }
    .{{section.id}} .main_container_grid__image {
        width: 100%;  
         min-height: 300px;
        max-width: 500px; 
        object-fit: cover;
    }
    .main_container_grid__text{
        position: absolute;
        bottom: 0;
        z-index: 3;
        width: 100%;
        background-color: #28675c;
        min-height: 40px;
    }
    .main_container_grid__text h3{
        font-family: var(--regular-arialMT-font) ! important;
        font-style: normal;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 400;
        color: #ffffff;
        padding: 0 20px;
    }

@media (max-width: 768px) {
        .{{section.id}} .main_container{
            padding: 20px !important;
        }
        
        .{{section.id}} .main_container__grid{
            grid-template-columns: 1fr 1fr; 
            gap: 10px; 
        }
       
        .{{section.id}} .main_container_grid__image {
            height: 170px; 
            min-height: auto;
            width: 100%;
            object-fit: cover;
        }

        .main_container_grid__text{
            min-height: 42px;
         }

        .main_container_grid__text h3{
            line-height: 15px;
            padding: 0px 5px; 
        }

        .{{section.id}} .main_container_grid__items::after {
            display: none; 
        }
  
    }
@media (max-width: 509px) {
.{{section.id}} .main_container_grid__image {          
            object-fit: contain;
          
        }
}

   
</style>
<section class="{{section.id}} ">
    <div class="main_container custom-page-width">

        {% comment %} Heading {% endcomment %}
        <div class="main_container__heading" >
             {% if heading_tag != blank and heading != blank %}
                    <{{heading_tag}}>{{heading}}</{{heading_tag}}>
                   {% else %}
                     <h2>{{heading}}</h2>
                {% endif %}
        </div>

        {% comment %} Image Grid {% endcomment %}
        <div class="main_container__grid">
            {% for block in section.blocks %}
               {% liquid
                assign product_name = block.settings.product_name
                assign text_alignment = block.settings.text_alignment
                assign product_url = block.settings.product_url
                assign font_size = block.settings.font_size
               %}
                <a href="{{product_url}}" class="main_container_grid__items">
                    {% if block.settings.grid_image != blank %}
                            <img class="main_container_grid__image" src="{{ block.settings.grid_image | image_url }}" alt="" width="500" height="300">
                            {% else %}
                                <img class="main_container_grid__image" src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/New-Releases_540x_9c595ef7-5c1b-4ac1-b019-ee26b20ce629.webp?v=1758849998" 
                                alt="image" width="480" height="300">
                    {% endif %} 
                    <div class="main_container_grid__text" style="text-align: {{ text_alignment }}">
                        <h3 style= "font-size: {{font_size}}px"> {{ product_name }} </h3>
                    </div> 
                </a>
            {% endfor %}
            
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Custom Grid",
        "disabled_on": {
            "groups": ["header","footer"]
        },
        "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Section background color",
                "default":"#ffffff"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Write Heading",
                "default":"SHOP BY SPORT"
            },
            {
                "type": "select",
                "id": "heading_level",
                "label": "Heading level",
                "default": "h2",
                "options": 
                [
                    { "value": "h1", "label": "H1" },
                    { "value": "h2", "label": "H2" },
                    { "value": "h3", "label": "H3" },
                    { "value": "h4", "label": "H4" },
                    { "value": "h5", "label": "H5" },
                    { "value": "h6", "label": "H6" }
                ]
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default":"#00342c"
            }
        ],
        "blocks": [
            {
                "type": "image_block",
                "name": "image Block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "grid_image",
                        "label": "Add Image"
                    },
                    {
                        "type": "text",
                        "id": "product_name",
                        "label": "Add Product Name",
                        "default":"Baseball Cards"

                    },
                    {
                        "type": "range",
                        "id": "font_size",
                        "min": 12,
                        "max": 24,
                        "step": 1,
                        "unit": "px",
                        "label": "Font size",
                        "default": 20
                    },
                    {
                        "type": "select",
                        "id": "text_alignment",
                        "label": "Text alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "center"
                    },
                    {
                        "type": "url",
                        "id": "product_url",
                        "label": "Add Product Link"
                    }
                ]
            }
        ],
        "max_blocks": 12,
        "presets": [
            {
                "name": "Custom Grid",
                "category": "Custom Section"
            }
        ]
    }
{% endschema %}