
{% liquid
    assign background_color = section.settings.background_color
    assign icon_image_1 = section.settings.icon_image_1
    assign icon_image_2 = section.settings.icon_image_2
    assign icon_image_3 = section.settings.icon_image_3
    assign icon_alignment = section.settings.icon_alignment
    assign heading_1 = section.settings.heading_1
    assign heading_2 = section.settings.heading_2
    assign heading_3 = section.settings.heading_3
    assign heading_tag = section.settings.heading_level
    assign heading_color = section.settings.heading_color
    assign heading_text_alignment = section.settings.heading_text_alignment 
    assign content_1 = section.settings.content_1
    assign content_2 = section.settings.content_2
    assign content_3 = section.settings.content_3
    assign font_size =section.settings.font_size
    assign text_alignment = section.settings.text_alignment
    assign content_color = section.settings.content_color
   
%}

<style>
    .{{section.id}} {
        background-color: {{background_color}};
    }
    .feature_container{
        padding: 40px;
    }
    .feature_container__columns{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .{{section.id}} p {
        width: 95%;
        font-family: var(--regular-arialMT-font);
        text-align: {{ text_alignment }};
        color: {{content_color}};
    }
    .feature_container_columns__icon {
        text-align: {{icon_alignment}};
    }
@media (max-width:768px) {
    .feature_container__columns{
        flex-direction: column;
    }
}

</style>


<section class="{{section.id}}">
    <div class="feature_container custom-page-width">
        <div class="feature_container__columns">
            <div class="feature_container_columns__first">
                <div class="feature_container_columns__icon"> 
                    {% if icon_image_1 != blank %}
                        <img src="{{icon_image_1 | image_url}}" width="76" height="72" alt="icon_image_1" >
                    {% else %}
                        <img src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/feature-icon_1.png?v=1758933766" width="76" height="72" alt="icon_image_1">
                {% endif %}
                </div>
               
                <div class="feature_container_columns_first__header"  style="color: {{ heading_color }}; text-align:{{heading_text_alignment}}; width:90%;">
                    {% if heading_1 != blank %}
                        <{{heading_tag}}>
                            {{heading_1}}
                        </{{heading_tag}}>
                    {% endif %}
                </div>
                <div class="feature_container_columns_second__content text">
                    {% if content_1 != blank %}
                        <p style="font-size: {{ font_size }}px"> {{content_1}} </p>
                    {% endif %}
                </div>
            </div>



            <div class="feature_container_columns__second">
                <div class="feature_container_columns__icon"> 
                      {% if icon_image_2 != blank %}
                    <img class="feature_container_columns__icon" src="{{icon_image_2 | image_url}}" width="76" height="72" alt="icon_image_1" >
                    {% else %}
                        <img src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/feature-icon-2.png?v=1758933765" width="76" height="72" alt="icon_image_1">
                {% endif %}
                </div>
                <div class="feature_container_columns_second__header" style="color: {{ heading_color }}; text-align:{{heading_text_alignment}}; width:90%;">
                    {% if heading_2 != blank %}
                        <{{heading_tag}}>
                            {{heading_2}}
                        </{{heading_tag}}>
                    {% endif %}
                </div>
                <div class="feature_container_columns_second__content text">
                    {% if content_2 != blank %}
                        <p style="font-size: {{ font_size }}px"> {{content_2}} </p>
                    {% endif %}
                </div>
            </div>




            <div class="feature_container_columns__third">
                <div class="feature_container_columns__icon"> 
                    {% if icon_image_3 != blank %}
                        <img class="feature_container_columns__icon" src="{{icon_image_3 | image_url}}" width="76" height="72" alt="icon_image_1" >
                    {% else %}
                        <img src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/feature-icon-3..png?v=1758933766" width="76" height="72" alt="icon_image_1">
                {% endif %}
                </div>
                
                <div class="feature_container_columns_third__header" style="color: {{ heading_color }}; text-align:{{heading_text_alignment}}; width:90%;">
                    {% if heading_3 != blank %}
                        <{{heading_tag}}>
                            {{heading_3}}
                        </{{heading_tag}}>
                    {% endif %}
                </div>
                <div class="feature_container_columns_third__content text">
                    {% if content_3 != blank %}
                        <p style="font-size: {{ font_size }}px"> {{content_3}} </p>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
</section>



{% schema %}
    {
        "name": "Key Features-3 Column",
        "disabled_on": {
            "groups": ["header","footer"]
        },
        "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Section background color",
                "default":"#ffffff"
            },
            {
                "type": "image_picker",
                "id": "icon_image_1",
                "label": "Add Fist icon"
            },
            {
                "type": "image_picker",
                "id": "icon_image_2",
                "label": "Add Second icon"
            },
            {
                "type": "image_picker",
                "id": "icon_image_3",
                "label": "Add Third icon"
            },
            {
                "type": "radio",
                "id": "icon_alignment",
                "label": "Icon alignment",
                "options": [
                    {
                    "value": "left",
                    "label": "Left"
                    },
                    {
                    "value": "center",
                    "label": "Centered"
                    },
                    {
                    "value": "right",
                    "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "select",
                "id": "heading_level",
                "label": "Heading level",
                "default": "h2",
                "options": 
                [
                    { "value": "h1", "label": "H1" },
                    { "value": "h2", "label": "H2" },
                    { "value": "h3", "label": "H3" },
                    { "value": "h4", "label": "H4" },
                    { "value": "h5", "label": "H5" },
                    { "value": "h6", "label": "H6" }
                ]
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default":"#00342c"
            },
            {
                "type": "select",
                "id": "heading_text_alignment",
                "label": "Heading Text Alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "text",
                "id": "heading_1",
                "label": "Add Fist Heading",
                "default":"Find the Newest Releases"
            },
             {
                "type": "richtext",
                "id": "content_1",
                "label": "Add Fist Content",
                "default":"<p>Finding the latest and greatest releases is crucial to keeping your collection up-to-date. We’ve got you covered from A-Z with this year’s releases across baseball, basketball, football, soccer, racing, and UFC. No matter what sport you love, we’re the shop that helps you craft a collection to be proud of.</p>"
            },
            {
                "type": "text",
                "id": "heading_2",
                "label": "Add Second Heading",
                "default":"Shop Competitive Prices"
            },
            {
                "type": "richtext",
                "id": "content_2",
                "label": "Add Second Content",
                "default":"<p>If you’re a collector like us, you’re not only interested in quality and service. You also want a sports card store with deals that improve your investment and make pulling the hottest rookie autos and patch cards that much sweeter. We offer cheap sports cards compared to other stores so you always get the best deals.</p>"
            },
            {
                "type": "text",
                "id": "heading_3",
                "label": "Add Third Heading",
                "default":"GOAT-Level Customer Service"
            },
           
            {
                "type": "richtext",
                "id": "content_3",
                "label": "Add Third Content",
                "default":"<p>Opening new boxes of sports cards to add to your collection is exciting! We treat you like the MVP by offering lightning-quick, same-business-day shipping so you don’t have to wait forever to start ripping. Questions? Our friendly team is ready with GOAT-level customer service.</p>"
            },
            {
                "type": "range",
                "id": "font_size",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Content Font size",
                "default": 16
            },
            {
              "type": "color",
              "id": "content_color",
              "label": "Content Text Color",
              "default": "#243d3f"  
            },
            {
                "type": "select",
                "id": "text_alignment",
                "label": "Text alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            }
            
        ],
        "presets": [
            {
               "name": "Key Features-3 Column",
               "category": "Custom Section"
            }
        ]
    }
{% endschema %}