
{% liquid
    assign background_color = section.settings.background_color
    assign icon_alignment = section.settings.icon_alignment
    assign heading_tag = section.settings.heading_level
    assign heading_color = section.settings.heading_color
    assign heading_text_alignment = section.settings.heading_text_alignment 
    assign font_size = section.settings.font_size
    assign text_alignment = section.settings.text_alignment
    assign content_color = section.settings.content_color
   
%}

<style>
    .{{section.id}} {
        background-color: {{background_color}};
    }

    .{{section.id}} .feature_container h1, h2, h3, h4, h5, h6 {
        color: {{heading_color}};
        line-height:1;
        font-family: var(--gothic-font) ! important;
        letter-spacing: 2px ;
        font-weight: bold;
        font-style:normal;
        text-transform: uppercase;
    } 

    .feature_container{
        padding: 40px;
    }
   .feature_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: start;
        padding: 40px;
    }
    .{{section.id}} p {
        width: 95%;
        font-family: var(--regular-arialMT-font);
        text-align: {{ text_alignment }};
        color: {{content_color}};
    }
    .feature_container_columns__icon {
        text-align: {{icon_alignment}};
        width:90%;
    }

@media (max-width:1150px) {
    .feature_container{
        grid-template-columns: repeat(1fr 1fr);
      
    }
}
@media (max-width:768px) {
    .feature_container{
        grid-template-columns: repeat(1fr);
      
    }
}

</style>


<section class="{{section.id}}">
    <div class="feature_container custom-page-width">

        {% for blocks in section.blocks %}
          {% liquid
                assign icon_image = blocks.settings.icon_image
                assign heading = blocks.settings.heading
                assign content = blocks.settings.content
          %}  
       
        <div class="feature_container__columns" {{blocks.shopify_attributes}}>
            <div class="feature_container_columns__first">
                <div class="feature_container_columns__icon">
                    {% if icon_image != blank %}
                        <img src="{{icon_image | image_url}}" width="76" height="72" alt="icon_image" >
                    {% else %}
                        <img src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/feature-icon_1.png?v=1758933766" width="76" height="72" alt="icon_image">
                {% endif %}
                </div>
               
                <div class="feature_container_columns_first__header"  style="color: {{ heading_color }}; text-align:{{heading_text_alignment}}; width:90%;">
                    {% if heading != blank %}
                        <{{heading_tag}}>
                            {{heading}}
                        </{{heading_tag}}>
                    {% endif %}
                </div>
                <div class="feature_container_columns_second__content text">
                    {% if content != blank %}
                        <div style="font-size: {{ font_size }}px"> {{content}} </div>
                    {% endif %}
                </div>
            </div>
        </div>


    {% endfor %}

    </div>
</section>



{% schema %}
    {
        "name": "Key Features-3 Column",
        "disabled_on": {
            "groups": ["header","footer"]
        },
        "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Section background color",
                "default":"#ffffff"
            },
            {
                "type": "radio",
                "id": "icon_alignment",
                "label": "Icon alignment",
                "options": [
                    {
                    "value": "left",
                    "label": "Left"
                    },
                    {
                    "value": "center",
                    "label": "Centered"
                    },
                    {
                    "value": "right",
                    "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "select",
                "id": "heading_level",
                "label": "Heading level",
                "default": "h2",
                "options": 
                [
                    { "value": "h1", "label": "H1" },
                    { "value": "h2", "label": "H2" },
                    { "value": "h3", "label": "H3" },
                    { "value": "h4", "label": "H4" },
                    { "value": "h5", "label": "H5" },
                    { "value": "h6", "label": "H6" }
                ]
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default":"#00342c"
            },
            {
                "type": "select",
                "id": "heading_text_alignment",
                "label": "Heading Text Alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "range",
                "id": "font_size",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Content Font size",
                "default": 16
            },
            {
                "type": "color",
                "id": "content_color",
                "label": "Content Text Color",
                "default": "#243d3f"  
            },
            {
                "type": "select",
                "id": "text_alignment",
                "label": "Text alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            }
            ],
            "blocks":[
                {
                    "name": "Key Features Block",
                    "type": "key_features_block",
                    "settings": [
                    {
                        "type": "image_picker",
                        "id": "icon_image",
                        "label": "Add Fist icon"
                    },
                    
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Add Fist Heading",
                        "default":"Find the Newest Releases"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "Add Fist Content",
                        "default":"<p>Finding the latest and greatest releases is crucial to keeping your collection up-to-date. We’ve got you covered from A-Z with this year’s releases across baseball, basketball, football, soccer, racing, and UFC. No matter what sport you love, we’re the shop that helps you craft a collection to be proud of.</p>"
                    }
                    
                ]
            }
        ],
        "max_blocks": 6,
        "presets": [
            {
               "name": "Key Features-3 Column",
               "category": "Custom Section"
            }
        ]
    }
{% endschema %}