{{ 'giantsports.css' | asset_url | stylesheet_tag }}
{% liquid
  assign heading_tag  = section.settings.heading_level 
  assign upper_text_color =  section.settings.upper_text_color
  assign lower_text_color =  section.settings.lower_text_color
  assign background_color = section.settings.background_color
  assign icon_width = section.settings.icon_width
  
%}

<style>
    
.special-features__inner {
   
    background-color: {{background_color}};
}

.special-features__blocks {
    padding: 40px 60px 20px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.special-features__blocks a{
    text-decoration: none;
} 
.special-features__inner .inner_items {
    display: flex;;
    justify-content: center;
}

.special-features__blocks__item__content {{heading_tag}} {
    color: {{lower_text_color}};
    line-height:1;
    font-family: var(--gothic-font) ! important;
    font-style:italic;
    letter-spacing: 2px ;
    font-weight: bold ;
    text-transform: uppercase;
}

.special-features__blocks__item__content span{
    color: {{upper_text_color}};
}

.special-features__blocks__item__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1150px){
   .special-features__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 20px;
} 
}
@media(max-width: 768px){
    .special-features__blocks {
        grid-template-columns: 1fr;
        gap: 5px !important;
    } 
}

</style>

<div class="special-features__inner">
    <div class="special-features__blocks custom-page-width">
      
     
        {% for block in section.blocks %}
        
        <a href="{{ block.settings.banner_link }}" {{block.shopify_attributes}}>
        
        <div class="special-features__blocks__item" 
        {% if block.settings.banner_background != blank %}
        style="background-image: url({{ block.settings.banner_background | image_url: width: 800 }});"
        {% else %}
            style="background-image: url(//cdn.shopify.com/s/files/1/0607/5393/6592/files/Background_1.avif?v=1758774101);"
        {% endif %}
        >
        <div class="inner_items" style="gap: {{ block.settings.text_icon_width }}px;">
                {% comment %} icon {% endcomment %}
            <div class="special-features__blocks__item__image">
              {% if block.settings.banner_image != blank %}
              <img src="{{ block.settings.banner_image | image_url: width: 200 }}" alt="" width="{{icon_width}}" height="{{icon_width}}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0607/5393/6592/files/Layer_1.avif?v=1758774806" alt="" width="{{icon_width}}" height="{{icon_width}}">
              {% endif %}
            </div>
                {% comment %} Text {% endcomment %}
            <div class="special-features__blocks__item__content">
                <{{heading_tag}}><span>{{ block.settings.banner_upper }}</span><br>{{ block.settings.banner_lower }}</{{heading_tag}}>
            </div>

        </div>
            </div>
        
        </a>
        
        {% endfor %}
      
    </div>
  </div>



{% schema %}
    {
        "name": "Custom Multi-Column",
        "disabled_on": {
            "groups": ["footer","header"]
        },
        "settings": [
            {
                "type": "header",
                "content": "Typography"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Section background color",
                "default": "#ece8cf"
            },
            {
                "type": "select",
                "id": "heading_level",
                "label": "Heading level",
                "default": "h1",
                "options":
                [
                    { "value": "h1", "label": "H1" },
                    { "value": "h2", "label": "H2" },
                    { "value": "h3", "label": "H3" },
                    { "value": "h4", "label": "H4" },
                    { "value": "h5", "label": "H5" },
                    { "value": "h6", "label": "H6" }
                ]   
            },
            {
                "type": "color",
                "id": "upper_text_color",
                "label": "Upper Heading Text color",
                "default": "#00342c"
            },
            {
                "type": "color",
                "id": "lower_text_color",
                "label": "Upper Heading Text color",
                "default": "#FFFFFF"
            },
            {
                "type": "range",
                "id": "icon_width",
                "min": 20,
                "max": 110,
                "step": 2,
                "unit": "px",
                "label": "Icon Width",
                "default": 86
            }
        ],
        "blocks": [
            {
                "type": "multi-banner-grid",
                "name": "Banner Item",
                "settings": [
                    {
                        "type":"header",
                        "content": "Block Customization" 
                    },
                    {
                        "type": "url",
                        "id": "banner_link",
                        "label": "Banner Link"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner_background",
                        "label": "Background Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner_image",
                        "label": "Icon Image"
                    },
                    {
                        "type": "text",
                        "id": "banner_upper",
                        "label": "Upper Text",
                        "default": "UPPER TEXT"
                    },
                    {
                        "type": "text",
                        "id": "banner_lower",
                        "label": "Lower Text",
                        "default": "LOWER TEXT"
                    },
                    {
                        "type": "range",
                        "id": "text_icon_width",
                        "min": 5,
                        "max": 40,
                        "step": 1,
                        "unit": "px",
                        "label": "Gap between text and icon",
                        "default": 20
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Custom Multi-Column Image Text",
                "category": "Custom Section"
            }
              
        ]
    }
{% endschema %}